.nanum {
	font-family: 'Nanum Gothic Coding', monospace;
}

.ltim {
	font-family: 'Itim', cursive;
	font-size: 20px;
}

.gamja {
	font-family: 'Gamja Flower', cursive;
}

.A1 {
	font-family: 'Gothic A1', sans-serif;
}

.single {
	font-family: 'Single Day', cursive;
}