
.c2 {
	flex: 0.85;

	flex-direction: column;

	display: flex;
}

.c9content {
	flex: 0.705;
	margin-left: 10px;

	display: flex;

	flex-direction: column;

	height: 525px;

	position:relative;

	flex-shrink: 0;
}


.content1 {
	flex: 0.25;

	margin: 7px;
}
.content2 {
	flex: 0.75;

	margin: 7px;

	flex-shrink: 0;

}

.new {
	background: 10px #ff4545;
	color: white;
	border-radius: 3px;
	margin-right: 5px;
	font-size: 15px;
	padding: 3px;
}

.blue {
	background: 10px #2c83ff;
	color: white;
	border-radius: 3px;
	margin-right: 5px;
	font-size: 15px;
	padding: 3px;
}

.head1 {
	flex: 0.25;
	margin: 5px;
	flex-wrap: nowrap;
	flex-shrink: 0;
		margin-top: 7px;
}

.head2 {
	flex: 0.25;
	margin: 5px;
	flex-wrap: nowrap;
	flex-shrink: 0;
	margin-top: 7px;
}

.head3 {
	flex: 0.25;
	margin: 5px;
	flex-wrap: nowrap;
	flex-shrink: 0;
	margin-top: 7px;
}

.head4 {
	flex: 0.25;
	margin: 5px;
	flex-wrap: nowrap;
	flex-shrink: 0;
	margin-top: 7px;
}

.yd {
	color:#87A7CA;
}

hr {
border-top: 4px dashed #8299B3;
}

.padang {
  width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
}